{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Check out my <a href="/about">About</a> page.</p>

    <div class="container">
        <h1>Welcome to My Portfolio</h1>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ project.image.url }}" class="card-img-top" alt="Project Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{{ project.github_link }}" class="btn btn-primary">GitHub</a>
                        <a href="{{ project.live_demo_link }}" class="btn btn-success">Live Demo</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}